.banner {
  img {
    width: inherit;
  }
  margin-bottom: 20px;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .banner {
  	padding-right: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: larger;
  }
  .bulletin-list {
    padding-right: 30px;
  }
}

.bulletin-title {
  padding-left: 25px;
}

.bulletin-list {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
  display: inline-block;
  @media (min-width: 768px) {
    height: 75px;
  }
	p {
		color: grey;
		font-family: 'Raleway', sans-serif;
		background-color: oldlace;
    padding: 10px 20px;
    margin: 0 0;
    a {
    	color: grey;
    }
	}
}