.picture-container {
  height: 0;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.025);
  padding-bottom: 100%;
}

.picture {    
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  display: block;
}

ul {
  list-style: none;
  padding-left: 20px;
  li.picture-link {
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    .rectangle {
      padding-bottom: 49.193548387096776%;
      margin-bottom: -1px;
    }
  }
}

@media (max-width: 767px) {
  li.picture-link {
    padding-right: 30px !important;
  }
  ul {
    li.picture-link {
      div.rectangle {
        padding-bottom: 100%;
        img.picture {
          width: inherit;
          left: -50%;
        }
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1200px) { 
  ul {
    li.picture-link {
      div.rectangle.mid-no-rectangle {
        padding-bottom: 100%;
        img.picture {
          width: inherit;
          left: -50%;
        }
      }
    }
  }
}

@media (min-width: 1200px) { 
  ul {
    li.picture-link {
      div.rectangle.large-no-rectangle {
        padding-bottom: 100%;
        img.picture {
          width: inherit;
          left: -50%;
        }
      }
    }
  }
}

.text {
  z-index: 1;
  width: 100%;
  position: absolute;
  color: white;
  display: table;
}

@media (min-width: 1200px) {
  .text {
    height: 285.83px;
  }
}

@media (min-width: 992px) {
  .text {
    height: 307.5px;
  }
}

@media (min-width: 768px) {
  .text {
    height: 307.5px;
  }
}

p.picture-des {
  font-size: -webkit-xxx-large;
  text-align: center; 
  vertical-align: middle;
  display: table-cell;  
  margin: auto 0;
  text-shadow: 0px 0px 5px #333 , 0px 0px #333 , 1px 1px #333;
}

.picture-link:hover {
  .text {
    color: darkred;
    p.picture-des {
      text-shadow: 0px 0px 1px darkred  , -1px -1px darkred , 1px 1px darkred;
    }
  }
  .picture {
    opacity: 0.5;
  }  
}

button.close {
  background-image: url("http://publicdomainvectors.org/photos/close-button.png");
  backgroun-repeat: no-repeat;
}